/inventory
/ansible_collections
/galaxy_cache
/vendor
/storage/*.key
/public/storage
/public/hot
/public/build
/node_modules
/dist
/build
/.vscode
/.phpunit.cache
/.old
/.idea
/.history
/.fleet
/.phpunit.cache
files/*
!files/*example*
vars/*
!vars/*example*
*spec
**/__pycache__
*.vscode
*.swp
*.sqlite3
*.sqlite
*.lock
*.lnk
*.code-workspace
.smb
.phpunit.result.cache
.old
.led_pc
.idea*
.env.production
.env.backup
.env
.editorconfig
.box_pc
yarn-error.log
push.bat
password.*
npm-debug.log
Homestead.yaml
Homestead.json
env.ini
desktop.ini
config.json
auth.json
auth.json.bak
