*.code-workspace
*.cover
*.egg-info/
*.lnk
*.log
*.manifest
*.nyc_output
*.py,cover
*.py[oc]
*.pyd
*.sqlite
*.sqlite3
*.swp
*.tmp

.DS_Store
.Python
Thumbs.db
desktop.ini

.cache/
.eggs/
.hypothesis/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.next/
.npm/
.parcel-cache/
.pip-wheel-metadata/
.pnpm-store/
.pyre/
.pytest_cache/
.pytype/
.ruff_cache/
.venv/
.yarn-cache/
__pycache__/

bower_components/
build/
coverage/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
ipynb_checkpoints/
jspm_packages/
lib/
lib64/
logs/
node_modules/
out/
parts/
sdist/
share/python-wheels/
temp/
test_downloads/
tmp/
typings/
var/
vendor/
venv/
wheels/

.env
.env.*
!.env.example

config.json
config.json.backup

files/*
!files/*example*

inventory/
inventory.backup/

public/build/
public/hot/
public/storage/

storage/*.key

channel_log.txt
coverage.xml
env.ini
Homestead.json
Homestead.yaml
lerna-debug.log*
npm-debug.log*
pip-delete-this-directory.txt
pip-log.txt
yarn-debug.log*
yarn-error.log*

.box_pc
.dypy.json
.fleet
.history
.lck
.led_pc
.notes*
.old
.phpunit.cache
.phpunit.result.cache
.python-type/

bootstrap.bash
bootstrap-python.bash
bootstrap.sh
local_install.bash
push.bat
sync-imports.py
deploy.bash
python-project-reviser.bash
